<!DOCTYPE html>

<html>
    <head>
        <title>Forgot Password?</title>
        <link rel="stylesheet" media="all" href="../css/all.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/header-footer.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/containers.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/buttons.css" type="text/css">
    </head>

    <body>
        <header></header>

        <div class="login-container">
            <div>
                <div class="login-title">ENTER CODE</div>

                <form action="index.html">
                    <div class="information">
                        <div class="subtitle">Enter Number Code</div>
                        <input type="email" id="email" name="email">
                    </div>
                    
                    <div class="error"></div>
                    <br>

                    <input type="submit" class="button"  value="Enter Code">
                </form>
            </div>
        </div>

        <footer></footer>
    </body>
</html>