<!DOCTYPE html>

<html>
    <head>
        <title>Forgot Password?</title>
        <link rel="stylesheet" media="all" href="../css/all.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/header-footer.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/containers.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/buttons.css" type="text/css">
    </head>

    <body>
        {{> header}}

        <div class="login-container">
            <div>
                <div class="login-title">FORGOT PASSWORD?</div>
                <form action="enter-code.html">
                    <div class="information">
                        <div class="subtitle">E-mail</div>
                        <input type="email" id="email" name="email">
                    </div>
                                        
                    <!-- Code Notification -->
                    <div>
                        A code will be sent to your e-mail containing <br>
                        
                        procedures to access your account again.
                    </div>
                    <br>
                    
                    <div class="error"></div>
                    <br>

                    <input type="submit" class="button" value="Send Code">
                </form>
            </div>
        </div>

        {{> footer}}
    </body>
</html>