<!DOCTYPE html>
<html>
	<head>
		<title>Sign In</title>
		<link rel="stylesheet" media="all" href="../css/all.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/header-footer.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/containers.css" type="text/css">
		<link rel="stylesheet" media="all" href="../css/buttons.css" type="text/css">
	</head>
	
	<body>
		{{> header}}
		
		<div class="container">
			<div>
				<div class="div-title">SIGN - IN</div>
				<a href="/patient"><button>Patient</button></a>
				<a href="/doctor"><button>Doctor</button></a>	
			</div>	
		</div>
		
		{{> footer}}
	</body>
</html>