.search-container,
.account-container, h2, .name, .login-title,
.login-container, .home-container, .addcon-container
.div-title, .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2, .login-title, .div-title {
    font-weight: bold;
    font-size: 24px;
    height: 50px;
    margin-bottom: 25px;
}

.name {
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    margin: 25px 0px;
}

h2, .name {
    text-align: left;
    width: 100%;
}

.div-title {
    width: 200px;
}

.login-title {
    width: 400px;
}

.container, .login-container, .registration-container {
    background-color: #F1F1F1;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgb(209, 209, 209);
}

.container {
    width: 300px;
    height: 400px;
    margin: 50px auto;
}

.login-container {
    width: 500px;
    height: 400px;
    margin: 50px auto;
}

.registration-container {
    width: 1250px;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}

.subsection-container {
    margin-bottom: 25px;
}

.account-container {
    background-color: #F1F1F1;
    width: 350px;
    height: inherit;
    padding-top: 50px;
}

section {
    display: flex;
    justify-content: space-between;
}

.input-section {
    margin-bottom: 25px;
}

.search-container {
    margin: 25px;
}

.home-container {
    box-sizing: border-box;
}

.person-container, .consult-container {
    border-top: 20px solid #0368FF;
    border-radius: 10px;
    background-color: #F1F1F1;
    padding: 15px;
    box-sizing: border-box;
    margin: 25px;
}

.person-container:hover {
    border-top: 20px solid #0050c7;
}

.person-container {
    width: 400px;
    height: 100px;
    color: black;
}

.consult-container {
    width: 600px;
    height: 200px;
}

.web-container {
    display: flex;
}

.picture-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.content-container {
    overflow-y: scroll;
    height: 775px;
}

.addcon-container {
    margin: 25px;
}