header, footer {
    background-color: #0368FF;
}

header {
    height: 75px;
    width: 100%;
}

footer {
    height: 50px;
    width: 100%;
    position: relative;
    left: 0px;
    bottom: 0px;
}